streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
google-generativeai>=0.8.3
groq
fpdf2
python-dotenv
pillow
sentence-transformers
torch
transformers
pypdf
pysqlite3-binary
