streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
google-generativeai
groq
fpdf2
python-dotenv
pillow
sentence-transformers
pypdf
pysqlite3-binary
